In [1]:
import pandas as pd

In [2]:
#import csv

wildfire = pd.read_csv("../Starting_Data/wildfiredata.csv")

In [3]:
wildfire.head()

,X,Y,OBJECTID,SourceOID,ABCDMisc,ADSPermissionState,ContainmentDateTime,ControlDateTime,CreatedBySystem,IncidentSize,...,EstimatedFinalCost,OrganizationalAssessment,StrategicDecisionPublishDate,CreatedOnDateTime_dt,ModifiedOnDateTime_dt,IsCpxChild,CpxName,CpxID,SourceGlobalID,GlobalID
0,-118.106402,33.891095,292628,23872143,NaN,DEFAULT,NaN,NaN,lacocad,NaN,...,NaN,NaN,NaN,2023/01/01 04:46:49+00,2023/01/01 04:46:49+00,0,NaN,NaN,{46374510-C3AE-4B21-BF99-F6E8DCE39EA7},{BB4A69D2-8CE1-4E2F-B8B4-C589EE47536B}
1,-120.437306,36.821662,292630,23872145,NaN,DEFAULT,2023/01/01 06:20:56+00,2023/01/01 06:21:02+00,cfcad,0.01,...,NaN,NaN,NaN,2023/01/01 06:20:31+00,2023/01/01 06:20:41+00,0,NaN,NaN,{B7688735-6981-41E5-B06C-235A96FEABE3},{D4CA8250-A331-4193-84E7-D022727792E1}
2,-117.890182,34.121065,292661,23872184,NaN,DEFAULT,NaN,NaN,lacocad,NaN,...,NaN,NaN,NaN,2023/01/01 08:58:48+00,2023/01/01 08:58:48+00,0,NaN,NaN,{8DC41F9E-8F7F-435B-BFA1-BBBD7B4DE521},{92C597A7-B3E6-4F83-8309-FB25C6DA6A5B}
3,-116.227787,33.719351,292664,23872185,NaN,DEFAULT,NaN,NaN,cfcad,NaN,...,NaN,NaN,NaN,2023/01/01 08:59:27+00,2023/01/01 08:59:27+00,0,NaN,NaN,{5977CB1E-0C9B-4523-A3F1-DF1A9B7A04E5},{011F9ED0-F42E-4D21-88DD-5BD442B20A58}
4,-116.509916,33.962375,292672,23872187,NaN,DEFAULT,NaN,NaN,cfcad,NaN,...,NaN,NaN,NaN,2023/01/01 10:11:33+00,2023/01/01 10:11:33+00,0,NaN,NaN,{D57703B0-60A2-4F8C-91F9-204E5282DB63},{FA343640-3900-49CE-B93F-F36D05650EA8}

In [4]:
wildfire_update= wildfire[['OBJECTID', 'Y', 'X', 'InitialLatitude', 'InitialLongitude', 'FireDiscoveryDateTime', 'IncidentSize', 'DiscoveryAcres', 'FireCause', 'IncidentName', 'IncidentTypeCategory', 'POOCounty', 'POOState', 'POOLandownerCategory', 'PrimaryFuelModel']].copy()

In [5]:
wildfire_update = wildfire_update.fillna('000')

In [6]:
wildfire_update.head()

,OBJECTID,Y,X,InitialLatitude,InitialLongitude,FireDiscoveryDateTime,IncidentSize,DiscoveryAcres,FireCause,IncidentName,IncidentTypeCategory,POOCounty,POOState,POOLandownerCategory,PrimaryFuelModel
0,292628,33.891095,-118.106402,33.89109,-118.10639,2023/01/01 04:43:57+00,000,0.01,Undetermined,LAC-447492,WF,Los Angeles,US-CA,Private,000
1,292630,36.821662,-120.437306,36.821657,-120.437293,2023/01/01 05:31:41+00,0.01,0.01,Undetermined,W BULLARD AVE FIREBAUGH,RX,Fresno,US-CA,Private,000
2,292661,34.121065,-117.890182,34.12106,-117.89017,2023/01/01 08:55:36+00,000,0.01,Undetermined,LAC-000069,WF,Los Angeles,US-CA,Private,000
3,292664,33.719351,-116.227787,33.719346,-116.227775,2023/01/01 08:22:21+00,000,0.01,Undetermined,BLISS AV INDO,WF,Riverside,US-CA,Private,000
4,292672,33.962375,-116.509916,33.96237,-116.509904,2023/01/01 08:48:45+00,000,0.01,Undetermined,1ST ST DHSP,WF,Riverside,US-CA,Private,000

In [7]:
containment_date = wildfire[['OBJECTID', 'ContainmentDateTime']].copy()

In [8]:
containment_date = containment_date.dropna()
containment_date

      OBJECTID     ContainmentDateTime
1       292630  2023/01/01 06:20:56+00
6       292692  2023/01/01 14:45:59+00
25      292762  2023/01/01 21:01:59+00
26      292774  2023/01/01 23:22:00+00
28      292807  2023/01/01 23:55:00+00
...        ...                     ...
6549    303498  2023/04/13 23:24:18+00
6556    303508  2023/04/14 00:19:05+00
6558    303510  2023/04/13 23:50:00+00
6563    303515  2023/04/14 00:22:56+00
6566    303518  2023/04/14 00:34:18+00

[2889 rows x 2 columns]

In [9]:
print(wildfire_update.dtypes)

OBJECTID                   int64
Y                        float64
X                        float64
InitialLatitude           object
InitialLongitude          object
FireDiscoveryDateTime     object
IncidentSize              object
DiscoveryAcres            object
FireCause                 object
IncidentName              object
IncidentTypeCategory      object
POOCounty                 object
POOState                  object
POOLandownerCategory      object
PrimaryFuelModel          object
dtype: object

In [10]:
wildfire_update.to_csv("cleanedWF_updated.csv",encoding="utf-8", index = False)

In [11]:
containment_date.to_csv("containment_date.csv", encoding="utf-8", index = False)

In [ ]:
import json

wildfire_update.to_json()

In [13]:
wf_updated = wildfire_update.to_json()

with open('WF_updated.json', 'w') as f:
    json.dump(wf_updated, f)